@import "tailwindcss";

@theme {
  /* base-colors */
  --neutral-900: hsl(0, 0%, 4%);
  --neutral-700: hsl(240, 4%, 9%);
  --neutral-600: hsl(240, 3%, 13%);
  --neutral-500: hsl(0, 0%, 18%);
  --neutral-400: hsl(0, 0%, 24%);
  --neutral-300: hsl(240, 1%, 27%);
  --neutral-200: hsl(0, 0%, 62%);
  --neutral-100: hsl(0, 0%, 78%);
  --white: hsl(0, 0%, 100%);

  /* accent-colors*/
  --lime-500: hsl(71, 92%, 60%);
  --lime-800: hsl(73, 100%, 10%);
  --red-500: hsl(104, 96%, 47%);
  --green-500: hsl(0, 100%, 63%);
}

@font-face {
  font-family: "JetBrains Mono";
  src: url(./assets/fonts/jetbrains-mono/jetbrains-mono-variable.ttf);
}

body {
  font-family: "JetBrains Mono", monospace;
  background-color: var(--neutral-900);
  color: var(--white);
}
